In [4]:
#import folder

import pandas as pd
import numpy as np

spot_df = pd.read_csv('../Clean_data/btcspot_agg.csv')

spot_df

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
0,2025-05-02,96489.90,97895.68,96350.00,96887.14,14905.74811,2025-05-02 23:59:59.999999,1.446388e+09,2698263,7440.33531,7.220228e+08,0.0
1,2025-05-03,96887.13,96935.67,95753.01,95856.42,9723.34838,2025-05-03 23:59:59.999999,9.359061e+08,1181239,3929.40490,3.782713e+08,0.0
2,2025-05-04,95856.42,96304.48,94151.38,94277.62,11036.38342,2025-05-04 23:59:59.999999,1.053542e+09,1674726,4385.33486,4.185735e+08,0.0
3,2025-05-05,94277.61,95199.00,93514.10,94733.68,17251.18189,2025-05-05 23:59:59.999999,1.626999e+09,2623300,8399.64855,7.922997e+08,0.0
4,2025-05-06,94733.68,96920.65,93377.00,96834.02,16122.64513,2025-05-06 23:59:59.999999,1.526848e+09,2512960,7505.95734,7.113725e+08,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
114,2025-08-27,111763.22,112625.00,110345.42,111262.01,13392.60875,2025-08-27 23:59:59.999999,1.493775e+09,3111496,6261.84550,6.985863e+08,NaN
115,2025-08-28,111262.01,113485.90,110862.42,112566.90,11104.27744,2025-08-28 23:59:59.999999,1.250788e+09,2066780,5139.46509,5.788660e+08,NaN
116,2025-08-29,112566.90,112638.64,107463.90,108377.40,22580.31045,2025-08-29 23:59:59.999999,2.475492e+09,3606959,10616.35644,1.164322e+09,NaN
117,2025-08-30,108377.40,108926.15,107350.10,108816.33,10708.39159,2025-08-30 23:59:59.999999,1.160667e+09,1411040,5797.17783,6.284578e+08,NaN
118,2025-08-31,108816.33,109480.02,108076.93,108246.35,9489.51596,2025-08-31 23:59:59.999999,1.031807e+09,1366633,4573.61058,4.974069e+08,NaN

In [5]:

# ---Calculate % Daily Return(Daily change) (Current close vs previous close) ---
spot_df["normal_return"] = spot_df["close"].pct_change() * 100   # in %

#30 days rolling stat of return
roll = spot_df["normal_return"].rolling(window=30)

#Z-score of the returns (30-day)
spot_df["30d_zscore_return"] = (spot_df["normal_return"] - roll.mean()) / roll.std()

In [6]:
# Log Returns (safer for statistical analysis) ---
spot_df["log_return"] = np.log(spot_df["close"] / spot_df["close"].shift(1))

#30 days rolling stat of log return
roll = spot_df["log_return"].rolling(window=30)

#Z-score of the returns (30-day)
spot_df["30d_zscore_logreturn"] = (spot_df["log_return"] - roll.mean()) / roll.std()

In [7]:
#intraday range
spot_df["intraday"] = (spot_df["high"] - spot_df["low"]) / spot_df["close"]

spot_df["z_intraday_30"] = (spot_df["intraday"] - spot_df["intraday"].rolling(30).mean()) / spot_df["intraday"].rolling(30).std()


spot_df

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore,normal_return,30d_zscore_return,log_return,30d_zscore_logreturn,intraday,z_intraday_30
0,2025-05-02,96489.90,97895.68,96350.00,96887.14,14905.74811,2025-05-02 23:59:59.999999,1.446388e+09,2698263,7440.33531,7.220228e+08,0.0,NaN,NaN,NaN,NaN,0.015953,NaN
1,2025-05-03,96887.13,96935.67,95753.01,95856.42,9723.34838,2025-05-03 23:59:59.999999,9.359061e+08,1181239,3929.40490,3.782713e+08,0.0,-1.063836,NaN,-0.010695,NaN,0.012338,NaN
2,2025-05-04,95856.42,96304.48,94151.38,94277.62,11036.38342,2025-05-04 23:59:59.999999,1.053542e+09,1674726,4385.33486,4.185735e+08,0.0,-1.647047,NaN,-0.016608,NaN,0.022838,NaN
3,2025-05-05,94277.61,95199.00,93514.10,94733.68,17251.18189,2025-05-05 23:59:59.999999,1.626999e+09,2623300,8399.64855,7.922997e+08,0.0,0.483742,NaN,0.004826,NaN,0.017786,NaN
4,2025-05-06,94733.68,96920.65,93377.00,96834.02,16122.64513,2025-05-06 23:59:59.999999,1.526848e+09,2512960,7505.95734,7.113725e+08,0.0,2.217100,NaN,0.021929,NaN,0.036595,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,2025-08-27,111763.22,112625.00,110345.42,111262.01,13392.60875,2025-08-27 23:59:59.999999,1.493775e+09,3111496,6261.84550,6.985863e+08,NaN,-0.448457,-0.125755,-0.004495,-0.117161,0.020488,-0.468452
115,2025-08-28,111262.01,113485.90,110862.42,112566.90,11104.27744,2025-08-28 23:59:59.999999,1.250788e+09,2066780,5139.46509,5.788660e+08,NaN,1.172808,0.718710,0.011660,0.722643,0.023306,-0.241495
116,2025-08-29,112566.90,112638.64,107463.90,108377.40,22580.31045,2025-08-29 23:59:59.999999,2.475492e+09,3606959,10616.35644,1.164322e+09,NaN,-3.721787,-1.779717,-0.037928,-1.800757,0.047747,1.661719
117,2025-08-30,108377.40,108926.15,107350.10,108816.33,10708.39159,2025-08-30 23:59:59.999999,1.160667e+09,1411040,5797.17783,6.284578e+08,NaN,0.405001,0.334816,0.004042,0.342876,0.014484,-0.970262
118,2025-08-31,108816.33,109480.02,108076.93,108246.35,9489.51596,2025-08-31 23:59:59.999999,1.031807e+09,1366633,4573.61058,4.974069e+08,NaN,-0.523800,-0.165182,-0.005252,-0.155890,0.012962,-1.027903

In [8]:
# 7 days Mean/ SD computation

# --- 4. Rolling Mean & Volatility (7-day window as example) ---
spot_df["7d_rolling_mean"] = spot_df["close"].rolling(window=7).mean()
spot_df["7d_rolling_volatility"] = spot_df["normal_return"].rolling(window=7).std()


#30 days mean/SD computation
# --- 4. Rolling Mean & Volatility (7-day window as example) ---
spot_df["30d_rolling_mean"] = spot_df["close"].rolling(window=30).mean()
spot_df["30d_rolling_volatility"] = spot_df["normal_return"].rolling(window=30).std()


#7 days z score
# --- 5. Z-Score of Close Price (7-day window example) ---
spot_df["7d_zscore"] = (spot_df["close"] - spot_df["close"].rolling(7).mean()) / spot_df["close"].rolling(7).std()


#30 days z score
# --- 5. Z-Score of Close Price (30-day window example) ---
spot_df["30d_zscore"] = (spot_df["close"] - spot_df["close"].rolling(30).mean()) / spot_df["close"].rolling(30).std()

In [9]:
#volume zscore computation
spot_df["30d_zscore_volume"] = (spot_df["volume"] - spot_df["volume"].rolling(30).mean()) / spot_df["volume"].rolling(30).std()



# volume % Change
spot_df["volume_change_%"] = spot_df["volume"].pct_change() * 100

#30days#
#30 days rolling stat of log return
roll = spot_df["volume_change_%"].rolling(window=30)

#Z-score of the returns (30-day)
spot_df["30d_zscore_volume_change"] = (spot_df["volume_change_%"] - roll.mean()) / roll.std()


#7days
#7 days rolling stat of log return
roll = spot_df["volume_change_%"].rolling(window=7)

#Z-score of the returns (7-day)
spot_df["7d_zscore_volume_change"] = (spot_df["volume_change_%"] - roll.mean()) / roll.std()


spot_df

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,...,7d_rolling_mean,7d_rolling_volatility,30d_rolling_mean,30d_rolling_volatility,7d_zscore,30d_zscore,30d_zscore_volume,volume_change_%,30d_zscore_volume_change,7d_zscore_volume_change
0,2025-05-02,96489.90,97895.68,96350.00,96887.14,14905.74811,2025-05-02 23:59:59.999999,1.446388e+09,2698263,7440.33531,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-05-03,96887.13,96935.67,95753.01,95856.42,9723.34838,2025-05-03 23:59:59.999999,9.359061e+08,1181239,3929.40490,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-34.767794,NaN,NaN
2,2025-05-04,95856.42,96304.48,94151.38,94277.62,11036.38342,2025-05-04 23:59:59.999999,1.053542e+09,1674726,4385.33486,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.503939,NaN,NaN
3,2025-05-05,94277.61,95199.00,93514.10,94733.68,17251.18189,2025-05-05 23:59:59.999999,1.626999e+09,2623300,8399.64855,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,56.311912,NaN,NaN
4,2025-05-06,94733.68,96920.65,93377.00,96834.02,16122.64513,2025-05-06 23:59:59.999999,1.526848e+09,2512960,7505.95734,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-6.541794,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,2025-08-27,111763.22,112625.00,110345.42,111262.01,13392.60875,2025-08-27 23:59:59.999999,1.493775e+09,3111496,6261.84550,...,113072.120000,2.340340,115929.268667,1.821406,-0.751778,-1.616247,-0.300806,-27.420928,-0.712391,-0.611986
115,2025-08-28,111262.01,113485.90,110862.42,112566.90,11104.27744,2025-08-28 23:59:59.999999,1.250788e+09,2066780,5139.46509,...,113081.677143,2.335323,115746.088000,1.830150,-0.214022,-1.088079,-0.669886,-17.086524,-0.488138,-0.491395
116,2025-08-29,112566.90,112638.64,107463.90,108377.40,22580.31045,2025-08-29 23:59:59.999999,2.475492e+09,3606959,10616.35644,...,111859.021429,1.962968,115426.976000,1.943195,-1.518979,-2.214210,1.198969,103.347859,1.559643,1.505973
117,2025-08-30,108377.40,108926.15,107350.10,108816.33,10708.39159,2025-08-30 23:59:59.999999,1.160667e+09,1411040,5797.17783,...,110913.061429,2.033951,115126.177000,1.946826,-1.102362,-1.873010,-0.724993,-52.576420,-1.079762,-1.067892
118,2025-08-31,108816.33,109480.02,108076.93,108246.35,9489.51596,2025-08-31 23:59:59.999999,1.031807e+09,1366633,4573.61058,...,110163.455714,1.998975,114875.586000,1.926620,-1.099979,-1.845579,-0.872516,-11.382434,-0.370142,-0.186622

In [ ]:
#exporting z score to csv
cols_to_export = [
    "open_time", "close", "volume",
    "normal_return", "log_return",
    "7d_rolling_mean", "7d_rolling_volatility",
    "30d_rolling_mean", "30d_rolling_volatility",
    "7d_zscore", "30d_zscore",
    "30d_zscore_return", "30d_zscore_logreturn",
    "volume_change_%", "7d_zscore_volume_change", "30d_zscore_volume_change",
    "z_intraday_30", "intraday",
    "30d_zscore_volume"
]
spot_df[cols_to_export].to_csv("../Idea_data/spot_zscore.csv", index=False)

In [11]:
# 1) Trend context
spot_df["ema200"] = spot_df["close"].ewm(span=200, adjust=False).mean()
spot_df["above_ema200"] = spot_df["close"] > spot_df["ema200"]

spot_df

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,...,30d_rolling_mean,30d_rolling_volatility,7d_zscore,30d_zscore,30d_zscore_volume,volume_change_%,30d_zscore_volume_change,7d_zscore_volume_change,ema200,above_ema200
0,2025-05-02,96489.90,97895.68,96350.00,96887.14,14905.74811,2025-05-02 23:59:59.999999,1.446388e+09,2698263,7440.33531,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96887.140000,False
1,2025-05-03,96887.13,96935.67,95753.01,95856.42,9723.34838,2025-05-03 23:59:59.999999,9.359061e+08,1181239,3929.40490,...,NaN,NaN,NaN,NaN,NaN,-34.767794,NaN,NaN,96876.884080,False
2,2025-05-04,95856.42,96304.48,94151.38,94277.62,11036.38342,2025-05-04 23:59:59.999999,1.053542e+09,1674726,4385.33486,...,NaN,NaN,NaN,NaN,NaN,13.503939,NaN,NaN,96851.020755,False
3,2025-05-05,94277.61,95199.00,93514.10,94733.68,17251.18189,2025-05-05 23:59:59.999999,1.626999e+09,2623300,8399.64855,...,NaN,NaN,NaN,NaN,NaN,56.311912,NaN,NaN,96829.952688,False
4,2025-05-06,94733.68,96920.65,93377.00,96834.02,16122.64513,2025-05-06 23:59:59.999999,1.526848e+09,2512960,7505.95734,...,NaN,NaN,NaN,NaN,NaN,-6.541794,NaN,NaN,96829.993159,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,2025-08-27,111763.22,112625.00,110345.42,111262.01,13392.60875,2025-08-27 23:59:59.999999,1.493775e+09,3111496,6261.84550,...,115929.268667,1.821406,-0.751778,-1.616247,-0.300806,-27.420928,-0.712391,-0.611986,107069.551343,True
115,2025-08-28,111262.01,113485.90,110862.42,112566.90,11104.27744,2025-08-28 23:59:59.999999,1.250788e+09,2066780,5139.46509,...,115746.088000,1.830150,-0.214022,-1.088079,-0.669886,-17.086524,-0.488138,-0.491395,107124.251329,True
116,2025-08-29,112566.90,112638.64,107463.90,108377.40,22580.31045,2025-08-29 23:59:59.999999,2.475492e+09,3606959,10616.35644,...,115426.976000,1.943195,-1.518979,-2.214210,1.198969,103.347859,1.559643,1.505973,107136.720470,True
117,2025-08-30,108377.40,108926.15,107350.10,108816.33,10708.39159,2025-08-30 23:59:59.999999,1.160667e+09,1411040,5797.17783,...,115126.177000,1.946826,-1.102362,-1.873010,-0.724993,-52.576420,-1.079762,-1.067892,107153.433003,True
118,2025-08-31,108816.33,109480.02,108076.93,108246.35,9489.51596,2025-08-31 23:59:59.999999,1.031807e+09,1366633,4573.61058,...,114875.586000,1.926620,-1.099979,-1.845579,-0.872516,-11.382434,-0.370142,-0.186622,107164.307799,True