In [6]:
import pandas as pd

In [8]:
####SPOT####
# Load cleaned monthly files (SPOT)
may_spot = pd.read_csv("/Users/duncanwan/Desktop/learning/data_download/btc_202505_spot.csv")
june_spot = pd.read_csv("/Users/duncanwan/Desktop/learning/data_download/btc_202506_spot.csv")
july_spot = pd.read_csv("/Users/duncanwan/Desktop/learning/data_download/btc_202507_spot.csv")
aug_spot = pd.read_csv("/Users/duncanwan/Desktop/learning/data_download/btc_202508_spot.csv")


# Combine them into one DataFrame
spot_all = pd.concat([may_spot,june_spot, july_spot, aug_spot])


# Sort by time (important to fix order)
spot_all = spot_all.sort_values("open_time").reset_index(drop=True)


# Save to a single file
spot_all.to_csv("/Users/duncanwan/Desktop/learning/Bitcoin/Clean_data/btcspot_agg.csv", index=False)

spot_all

,open_time,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,ignore
0,2025-05-02,96489.90,97895.68,96350.00,96887.14,14905.74811,2025-05-02 23:59:59.999999,1.446388e+09,2698263,7440.33531,7.220228e+08,0.0
1,2025-05-03,96887.13,96935.67,95753.01,95856.42,9723.34838,2025-05-03 23:59:59.999999,9.359061e+08,1181239,3929.40490,3.782713e+08,0.0
2,2025-05-04,95856.42,96304.48,94151.38,94277.62,11036.38342,2025-05-04 23:59:59.999999,1.053542e+09,1674726,4385.33486,4.185735e+08,0.0
3,2025-05-05,94277.61,95199.00,93514.10,94733.68,17251.18189,2025-05-05 23:59:59.999999,1.626999e+09,2623300,8399.64855,7.922997e+08,0.0
4,2025-05-06,94733.68,96920.65,93377.00,96834.02,16122.64513,2025-05-06 23:59:59.999999,1.526848e+09,2512960,7505.95734,7.113725e+08,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
114,2025-08-27,111763.22,112625.00,110345.42,111262.01,13392.60875,2025-08-27 23:59:59.999999,1.493775e+09,3111496,6261.84550,6.985863e+08,NaN
115,2025-08-28,111262.01,113485.90,110862.42,112566.90,11104.27744,2025-08-28 23:59:59.999999,1.250788e+09,2066780,5139.46509,5.788660e+08,NaN
116,2025-08-29,112566.90,112638.64,107463.90,108377.40,22580.31045,2025-08-29 23:59:59.999999,2.475492e+09,3606959,10616.35644,1.164322e+09,NaN
117,2025-08-30,108377.40,108926.15,107350.10,108816.33,10708.39159,2025-08-30 23:59:59.999999,1.160667e+09,1411040,5797.17783,6.284578e+08,NaN
118,2025-08-31,108816.33,109480.02,108076.93,108246.35,9489.51596,2025-08-31 23:59:59.999999,1.031807e+09,1366633,4573.61058,4.974069e+08,NaN

In [ ]:
####FUTURE####
# Load cleaned monthly files (FUTURE)
june_future = pd.read_csv("../btc_202506_future.csv")
july_future = pd.read_csv("../btc_202507_future.csv")
aug_future = pd.read_csv("../btc_202508_future.csv")

# Combine them into one DataFrame
future_all = pd.concat([june_future, july_future, aug_future])


# Sort by time (important to fix order)
future_all = future_all.sort_values("open_time").reset_index(drop=True)

# Save to a single file
future_all.to_csv("../btcfuture_agg.csv", index=False)

future_all

In [ ]:
####FUNDING####
# Load cleaned monthly files (FUNDING)
june_funding = pd.read_csv("../btc_202506_funding.csv")
july_funding = pd.read_csv("../btc_202507_funding.csv")
aug_funding = pd.read_csv("../btc_202508_funding.csv")


# Combine them into one DataFrame
funding_all = pd.concat([june_funding, july_funding, aug_funding])


# Sort by time (important to fix order)
funding_all = funding_all.sort_values("calc_time").reset_index(drop=True)


# Save to a single file
funding_all.to_csv("../btcfunding_agg.csv", index=False)

funding_all